@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

.App {
  text-align: center;
  filter: grayscale(73%);
  font-family: cursive;
  font-family: 'Kiwi Maru', serif;
}

html {
  scroll-behavior: smooth;
}

h1{
  padding-left: 300px;
  padding-right: 300px;
}

p{
  padding-left: 300px;
  padding-right: 300px;
}

.Header{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Kiwi Maru', serif;
  color: white;
}

.Section1{
  background-color: #8d66cc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Section2{
  background-color: #2e60c5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Section3{
  background-color: #1ecccc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Section4{
  background-color: #10914a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Section5{
  background-color: #e6db43;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Section6{
  background-color: #eba510;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Section7{
  background-color: #e93939;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Footer{
  background-color: #010e29;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.homebar{
  background-color: rgb(48, 48, 48);
  font-family: 'Kiwi Maru', serif;
}

