@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

.NavBar {
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: rgb(201, 201, 201);
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .NavBar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Kiwi Maru', serif;
    color: #000000;
    display: block;
  }
  
  .NavBar a:hover {
    color: #ffffff;
    background: rgb(143, 143, 143);
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .NavBar {padding-top: 15px;}
    .NavBar a {font-size: 18px;}
  }